body {
    margin: 0;
    padding: 0;
    background: url('rm314-bb-18.jpg') no-repeat center center fixed;
    background-size: cover;
    overflow: auto; /* Enable scrolling */
}

#background-animation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: linear-gradient(135deg, #0077B5, #00A0DC, #00588B, #0077B5);
    animation: backgroundAnimation 15s linear infinite;
}

header {
    background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent background for better readability */
    color: #fff;
    text-align: center;
    padding: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

header img {
    max-width: 100px;
    margin-bottom: 20px;
}

header h1 {
    font-size: 2rem;
    margin: 0;
}

header em {
    font-style: italic;
    font-size: 1.2rem;
}


main {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 1.5rem;
    margin: 0 0 1rem;
}

.form-group {
    margin: 0 0 1.5rem;
}

label {
    display: block;
    margin: 0 0 0.5rem;
}

input[type="text"],
input[type="password"],
input[type="number"] {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #0077B5;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #00588B;
}

#results-container {
    max-height: 300px;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 1rem;
    border-radius: 5px;
}


@media (max-width: 768px) {
    /* Add responsive styles for smaller screens */
    header h1 {
        font-size: 1.5rem;
    }

    header em {
        font-size: 1rem;
    }
}